@import "materialize.css";

@media screen and (min-width: 1024px) {
    .backgroundImg {
        max-width: 100%;
    }
    .thumbnails .responsiveImg{
        height: 150px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    .backgroundImg {
        max-height: 100%;
    }
   img.responsiveImg{
        height: 100%;
    }
    .thumbnails .responsiveImg{
        height: 60px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .thumbnails .responsiveImg{
        height: 100px;
    }
}

img.responsiveImg{
    width: 100%;
    height: auto;
}

.thumbnails{
    width:25%;
    float: left;
}



.sizeBtn{
    font-size: 12px;
    width: 33%;
    background-color: #f5f5f5;
}

.disableText{
    text-decoration:line-through;
}
.disabled{
    background: white !important;
}
.selected{
    color:white;
    background-color: teal !important;
}


/* label focus color */
.input-field input[type=text]:focus + label {
 color: teal;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid teal;
}

/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid teal;
}

nav .shoppingCart {
    padding-right: 2%;
}

.product-image{
    width: 60%;
    float: left;
}
.product-mainImage{
    padding-bottom: 5%;
}


